/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
}

/* Navigation Bar */
header {
    padding: 0.5rem 8rem;
    position: fixed;
    left: 0;
    right: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    height: 2rem;
}

nav ul {
    list-style: none;
    display: flex;
}

nav a {
    font-size: 1rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-left: 2rem;
}

/* Hero Section */
#hero-section {
    height: 43.75rem;
    background-image: url('../images/background/background-image-1.png');
    background-size: cover;
    background-position: right -2.5rem bottom 0;
}

.hero-container {
    width: 26rem;
    position: relative;
    top: 10rem;
    left: 14rem;
}

#hero-section h1  {
    font-size: 3rem;
    font-family: 'Alata', sans-serif;
    line-height: 60px;
    margin-bottom: 1.25rem;
}

#hero-section p {
    margin-bottom: 2rem;

}

.hero-button {
    width: max-content;
    padding: 0.8rem 1.6rem;
    font-size: 1rem;
    background-color: rgb(96, 117, 168);
    color: rgb(255, 255, 255);
    border-radius: 25px;
}